@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@layer utilities {
  /* Custom scrollbar styling */
  ::-webkit-scrollbar {
    @apply w-[10px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-600 rounded-md hover:bg-gray-500 dark:hover:bg-gray-500;
  }
}


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@layer utilities {
  /* Custom scrollbar styling */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #e5e7eb;
  }

  .dark ::-webkit-scrollbar-track {
    background-color: #1f2937;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 5px;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #4b5563;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }
}






